/* Couleur en dégradé pour les titres et boutons */


/* Pagination */
.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-btn {
    background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.page-btn:hover {
    background: linear-gradient(90deg, #2575fc 0%, #6a11cb 100%);
}

.page-btn.active {
    background: linear-gradient(90deg, #2575fc 0%, #6a11cb 100%);
    color: white;
}

/* Boutons précédent/suivant */
.pagination-btn {
    background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
    transition: all 0.3s ease;
}

.pagination-btn:hover {
    background: linear-gradient(90deg, #2575fc 0%, #6a11cb 100%);
}
.filter-container {
    margin: 20px 0;
}

#terrain-filter {
    padding: 8px;
    font-size: 16px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}