/* Styles pour le fond du modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Fond sombre avec transparence */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Assurez-vous que le modal soit au-dessus des autres éléments */
}

/* Styles pour le contenu du modal */
.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Styles pour le bouton de fermeture */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: color 0.3s;
}

/* Changement de couleur du bouton de fermeture au survol */
.close:hover {
    color: #ff0000;
}

/* Formulaire à l'intérieur du modal */
.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

/* Style pour le bouton d'ajout */
.modal-content button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Changement de couleur du bouton d'ajout au survol */
.modal-content button:hover {
    background-color: #0056b3;
}

/* Style pour le bouton d'ouverture du modal */
.open-modal-btn {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.open-modal-btn:hover {
    background-color: #218838;
}
.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}

.delete-btn:hover {
    transform: scale(1.1);
}

.delete-btn:focus {
    outline: none;
}
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Adjust the height as needed */
}

.loading-icon {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

/* Style pour les éléments sélectionnés */
select {
    background-color: #f9f9f9;
    cursor: pointer;
    width: auto;
}

select:focus {
    border-color: #4a90e2;
}

/* Pour améliorer la lisibilité */
option {
    padding: 10px;
    font-size: 14px;
}